<div id="root"></div>
<script>
  window.SALT_THEME_ASSETS = {
    "/brand/salt-logo.png": {{ 'brand-salt-logo.png' | asset_url | json }},
    "/brand-salt-logo.png": {{ 'brand-salt-logo.png' | asset_url | json }}
  };
</script>
<script type="module" src="{{ 'salt-app.js' | asset_url }}"></script>
